{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-3 col-xs-3">
                <div class="card border-warning mb-3" style="max-width: 20rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <h4 class="card-title">

                        </h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-3">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Success card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
